<div class="app-container" [class.collapsed]="isSidebarCollapsed && shouldShowSidebar()">
  <app-sidebar
  *ngIf="shouldShowSidebar()"
  (collapseChange)="onSidebarCollapseChange(isSidebarCollapsed)">
</app-sidebar>



  <div class="main-content" [class.no-sidebar]="!shouldShowSidebar()">
    <router-outlet></router-outlet>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="var(--bs-primary)" type="ball-spin-fade-rotating"
    [fullScreen]="true">
    <div class="spinner-content">
      <p>Loading, please wait...</p>
      <div class="progress-container">
        <div class="progress-bar"></div>
      </div>
    </div>
  </ngx-spinner>
</div>